#sendUrl{
    margin-left: auto;
}
#sendMsg{
    margin-left: auto;
}
#selectUser{
    margin-left: auto;
}
    
.panel {
    font: caption;
} 
    
.panel-section-header > .icon-section-header {
    background-image: url(../icons/sms-32.png);
}